<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First Stage of the Booking</title>


    <link type="text/css" href="./style.css" rel="stylesheet" media="all" />
    <link type="text/css" href="./error.css" rel="stylesheet" media="all" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery-ui.css" rel="stylesheet">





</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Bowling Leisure Centre</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="/">Home</a></li>
           <li><a href="/aboutUs">About</a></li>
           <li><a href="/register">Register</a></li>

           <?php
           if (Acme\auth\LoggedIn::customer()) : ?>

             <li><a href="/logout">Logout</a></li>

           <?php else : ?>

             <li><a href="/login">Login</a></li>

             <?php endif; ?>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>


  <div class="container">

    <div class="row">
      <br><br>
    </div>


      <div class="row">
          <div class="col-md-2">

          </div>

          <div class="col-md-8">

            <div class="alert" role="alert">

            <h1>First Stage of the Booking</h1>

            <?php
            if (isset($_SESSION['msg'])){
              ?>

                <ul>
              <li><?php echo $_SESSION['msg']; ?> </li>
            </ul>
              <?php
              unset($_SESSION['msg']); /* unset removes the error upon reload */
            }
              ?>


              <hr>


            <form id="firstProcess" name="firstProcess" class="form-horizontal"
            action="/firstProcess" method="post" novalidate>


            <div class="form-group">

              <label for="no_of_people" class="col-sm-2 control-label">Number of people</label>

              <div class="col-sm-10">
                <input type="text" id="no_of_people" class="form-control" type="text" list="people" autocomplete="off"
                name="no_of_people" placeholder="Click on arrow for the amount of people to make a booking for. Minimum 3 people"/>

                      <datalist id="people">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>

                      </datalist>

            </div>

            </div>

            <div class="form-group">

              <label for="date" class="col-sm-2 control-label">Date</label>

              <div class="col-sm-10">
                <input type="text" autocomplete="off" class="form-control required"  id="date"
                name="date" placeholder="Enter Date for booking">

              </div>

            </div>



            <div class="form-group">

              <label for="time" class="col-sm-2 control-label">Time</label>

              <div class="col-sm-10">
                <input type="text" id="time" class="form-control" type="text" list="timings" autocomplete="off"
                name="time" placeholder="Click on the arrow for the timings available"/>

                      <datalist id="timings">
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>

                      </datalist>

          </div>

        </div>

              <div class="form-group">

                <label for="no_of_games" class="col-sm-2 control-label">Number Of Games</label>

                <div class="col-sm-10">
                  <input type="text" id="no_of_games" class="form-control" type="text" list="options" autocomplete="off"
                  name="no_of_games" placeholder="Click on arrow for the amount of games to be played"/>

                        <datalist id="options">
                          <option value="1">1</option>
                          <option value="2">2</option>
                        </datalist>

            </div>

          </div>


              </div>

              <hr>

              <div class="form-group">

                <div class="col-sm-offset-2 col-sm-10">

                  <button type="submit" name="submit" value="submit 1" class="btn btn-primary">Next Process</button>

                  <button type="submit" name="submit" value="submit 2" class="btn btn-primary">Cancel</button>
                  <br><br>

                </div>
              </div>

            </form>

          </div>

        </div>
      </div>

  <footer class="footer">
  <div class="row footer-background">
    <div class="col-md-3">
      <div class="padding">

        <h4>Contact Us</h4>
        123 Main street.<br>
        Leicester, Leicestershire,
        LE3 2HD<br>
        +44 (0116) 2458765
      </div>

    </div>
    <div class="col-md-6">
    </div>

    <div class="col-md-3">
      <img src="/assets/map-small.png" class="pull-right">
    </div>
  </div>

</footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>

  <script src="jquery-ui.js"> </script>



  <script>


        $("#date").datepicker({


          dateFormat: "yy-mm-dd",
          minDate: 0,
          changeMonth: true,
          changeYear: false

          });


  </script>


<script>

    $(document).ready(function(){

  $("#firstProcess").validate({

    rules: {
        verify_username: {

          required: true,
          email: true,
          equalTo: "#username"
        },

          password: {

          required: true,
          password: true,
          equalTo: "#password"
        }
    }

  });

});


</script>

</body>

</html>
